<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div ngbDropdown class="d-inline-block">
                <button [ngClass]="{'btn':true, 'btn-outline-primary' : true}" ngbDropdownToggle>Documents </button>
                <div ngbDropdownMenu>

                    <div *ngFor="let file of fileMetaData">
                        <button class="dropdown-item" (click)="getFileSections(file)">{{file.name}} ({{file.sectionCount}}/{{file.sentCount}}) </button>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-sm-1" *ngIf="selectedFileMeta">
            <span class="badge badge-info">
                <h6>{{selectedFileMeta.name}}</h6>
            </span>
        </div>
        <!--
        <div class="col-sm-3">
            <button class="btn btn-link" (click)="showSimilarityResult()" aria-expanded="false">
                Show Similarity
            </button>
        </div>
    -->
        <!--
        <div class="col-sm-3" *ngIf="similartityStats">
            <div class="custom-slider">
                <ng5-slider [(value)]="similartityStats.minValue" [(highValue)]="similartityStats.maxValue" (userChangeStart)="onUserChangeStart($event)"
                    (userChange)="onUserChange($event)" (userChangeEnd)="onUserChangeEnd($event)" [options]="sliderOptions"></ng5-slider>
            </div>

        </div>-->
    </div>
    <div class="row" style="height: 100%">
        <!--<div class="col-sm-4">
            {{document.text}}
        </div>-->
        <div class="col-sm-4 " *ngIf="selectedFileMeta && document && document.sections">
            <!-- <span class="badge badge-info">{{selectedFileMeta.name}}</span>-->
            <div data-spy="scroll" class="container-fluid pre-scrollable" [style.max-height.px]="leftDivHeight">

                <div class="row" *ngFor="let section of  document.sections">
                    <div class="card" style="width: 100%">
                        <div class="card-header" [id]="section.sectionId">
                            <div class="row">
                                <div class="col-sm-9">
                                    <button class="btn btn-link" data-toggle="collapse" (click)="section.isCollapsed = !section.isCollapsed" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <span class="badge badge-secondary">Paragraph {{section.sectionId}}</span> {{section.text.substring(0, 25)}} ...
                                    </button>
                                </div>
                                <div class="col-sm-2">


                                    <div class="btn-group" role="group" aria-label="master button group">
                                        <button class="btn btn-sm btn-secondary" aria-expanded="false" (click)="showSimilarityForSection(document, section )">
                                            Results
                                        </button>
                                        <!--
                                                                <button class="btn btn-sm btn-seconday" aria-expanded="false" (click)="callPythonScript(section, selectedFileMeta)">
                                                                    Find Similar Sections
                                                                </button>-->


                                        <button class="btn btn-sm btn-secondary" aria-expanded="false" (click)="showEntityModal(section)">
                                            NER
                                        </button>
                                    </div>
                                </div>

                            </div>



                        </div>

                        <div [id]="section.sectionId" [ngbCollapse]="section.isCollapsed" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{section.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8" *ngIf="DocSimilarities && DocSimilarities.length>0">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        <!--<span class="badge badge-secondary">{{DocSimilarities[0].query.name}}</span>-->
                        <span class="badge badge-secondary">Paragraph {{DocSimilarities[0].query.sectionId}}</span>
                        {{DocSimilarities[0].query.text}}

                    </p>
                </div>
                <div class="row" style="width: 100%">
                    <div class="row" *ngFor="let doc of  DocSimilarities" style="width: 100%">
                        <div id="#test" class="card" style="width: 100%">
                            <div class="card-header" [id]="doc.name">
                                <button class="btn btn-link" data-toggle="collapse" (click)="doc.isCollapsed = !doc.isCollapsed" aria-expanded="false" aria-controls="collapseOne">
                                    {{doc.name}}
                                    <span class="badge badge-info">{{doc.simStats.min | number:'1.1-2'}}</span> -
                                    <span class="badge badge-info">{{doc.simStats.max | number:'1.1-2'}}</span>

                                </button>
                                <button class="btn btn-info btn-sm" (click)="showDoc(doc)">Show Doc</button>
                            </div>
                            <div [id]="doc.name" [ngbCollapse]="doc.isCollapsed" aria-labelledby="headingOne" data-parent="#accordion">

                                <div class="card-body">

                                    <app-doc-similarity [doc]="doc"></app-doc-similarity>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6" *ngIf="documentSimilarities && documentSimilarities.length>0">
            <div class="container-fluid">
                <div class="row">
                    <span>{{documentSimilarities[0].query.text}}</span>
                </div>
                <div class="row" *ngFor="let doc of  documentSimilarities">
                    <div class="card" style="width: 100%">
                        <div class="card-header" [id]="doc.sectionId">
                            <button class="btn btn-link" data-toggle="collapse" (click)="doc.isCollapsed = !doc.isCollapsed" aria-expanded="false" aria-controls="collapseOne">
                                {{doc.name}}
                                <!--<span class="badge badge-info">{{doc.similarity}}</span>-->
                                <span [ngClass]="doc.clazz">{{doc.status}} # {{doc.confidence | number : '1.1-2'}}% </span>
                                <br>
                                <!--<span class="badge badge-warning">RANK# {{doc.rank}} / {{doc.docCount}}</span>-->
                            </button>

                            <div class="btn-group" role="group" aria-label="target button group">
                                <button class="btn btn-secondary btn-sm" (click)="showFile(doc.name, 'text/plain')">
                                    <i class="material-icons md-18">
                                        text_format
                                    </i>
                                </button>
                                <button class="btn btn-secondary btn-sm" (click)="showFile(doc.name, 'application/pdf')">
                                    <i class="material-icons md-18">
                                        picture_as_pdf
                                    </i>
                                </button>
                            </div>



                        </div>
                        <div [id]="doc.sectionId" [ngbCollapse]="doc.isCollapsed" aria-labelledby="headingOne" data-parent="#accordion">

                            <div class="card-body">

                                <span class="badge badge-info">RELEVANT MATCH</span>
                                {{doc.sectionText}}
                                <br/>



                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<ng-template #showDocModal *ngIf="sentSimDoc && sentSimDoc.length>0">
    <p>{{sentSimDoc[0].query.text}}</p>
    <div *ngFor="let sent of sentSimDoc">

        <span class="badge badge-secondary">Paragraph {{sent.sectionId}}</span>
        <span class="badge badge-light">{{sent.sectionText.substring(0,30)}} ... {{sent.sectionText.substring(sent.sectionText.length-30)}}</span>
        <br/> {{sent.sentText}}
        <span class="badge badge-info">{{sent.similarity | number : '1.1-3'}}</span>
        <!--
        <button class="btn btn-sm btn-info" aria-expanded="false" (click)="toggleScore(sent)">
            Toggle Score({{sent.score}})
        </button-->
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Score {{SCORE[sent.target]}}</button>
            <div ngbDropdownMenu>
                <button class="dropdown-item btn-sm" (click)="toggleScore(sent, SCORE.MATCH)">{{SCORE[SCORE.MATCH]}}</button>
                <button class="dropdown-item btn-sm" (click)="toggleScore(sent, SCORE.MODERATE_MATCH)">{{SCORE[SCORE.MODERATE_MATCH]}}</button>
                <button class="dropdown-item btn-sm" (click)="toggleScore(sent, SCORE.NOTMATCH)">{{SCORE[SCORE.NOTMATCH]}}</button>
                <!--<button class="dropdown-item btn-sm" (click)="toggleScore(sent, SCORE.FALSE_POSITIVE)">{{SCORE[SCORE.FALSE_POSITIVE]}}</button>
                <button class="dropdown-item btn-sm" (click)="toggleScore(sent, SCORE.FALSE_NEGATIVE)">{{SCORE[SCORE.FALSE_NEGATIVE]}}</button>
                -->
            </div>
        </div>

    </div>
</ng-template>