<div class="container-fluid">
    <ng-container>


        <ng-container *ngFor="let sent of docSents">
            <!--<span class="badge badge-info">{{sent.sentSimilarity | number:'1.1-2'}}</span>-->
            <div *ngIf="sent.label === 'none';then none else highlight">
            </div>

            <ng-template #none>
                {{sent.text}}
            </ng-template>
            <ng-template #highlight>

                <span class="highlight">

                    {{sent.text}}


                </span>

            </ng-template>

        </ng-container>



    </ng-container>

</div>