{
    "tunnels": [
        {
            "name": "couchdb",
            "uri": "/api/tunnels/ws",
            "public_url": "http://localhost:8000/couchdb.v1",            
            "proto": "http",
            "config": {
                "addr": "localhost:8000",
                "inspect": true
            }
        },
        {
            "name": "ws",
            "uri": "/api/tunnels/ws",
            "public_url": "http://abc.com:8000",
            "proto": "http",
            "config": {
                "addr": "localhost:8000",
                "inspect": true
            }
        },
        {
            "name": "esearch",
            "uri": "/api/tunnels/esearch",
            "public_url": "http://dec.com:9200",
            "proto": "http",
            "config": {
                "addr": "localhost:9200",
                "inspect": false
            }
        }
    ],
    "uri": "/api/tunnels"
}