Forwarding                    http://4266a157.ngrok.io -> localhost:5601                                                                      
Forwarding                    http://6320835a.ngrok.io -> localhost:8000                                                                      
Forwarding                    http://bd2945ba.ngrok.io -> localhost:9200                                                                      
Forwarding                    http://ee011808.ngrok.io -> localhost:8888                                                                      
Forwarding                    https://4266a157.ngrok.io -> localhost:5601                                                                     
Forwarding                    https://6320835a.ngrok.io -> localhost:8000                                                                     
Forwarding                    https://bd2945ba.ngrok.io -> localhost:9200                                                                     
Forwarding                    https://ee011808.ngrok.io -> localhost:8888 